* {
    box-sizing: border-box;
}

p{
    /* stop overflow when screen is small */
    overflow-wrap: break-word;
    max-width: 100%;
}

ul, ol {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

img {
    /* Prevent image from being too big on mobile */
    max-width: 100%;
}

body {
    width: 100%;
    min-height: 100vh;
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
}

header{
    background-color: rgb(6, 12, 34);
    display:flex !important;    /* override bootstrap stuff */
    justify-content: space-between;
    padding: 0 10px;
}

.logo {
    /*max-width:100%;
        height: 100%;*/
    height: 50px;
    /* fuck it */
}

main {
    background-color: #ffffff;
}

#intro {
    /*background-color: lightblue;*/
    background-color: white;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
}

.intro-container {
    flex-grow: 0;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    /* done this way to prevent opacity applying to children */
    height: 400px;
    width: 600px;
    padding: 20px;
    border-width: 2px;
    border-style: inset;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.intro-container h1{
    margin: 21px 0px;
}

.intro-container p{
    margin: 16px 0px;
}

@media (max-width:650px) {
    .intro-container {
        width: 95%;
    }
}

@media (max-height:500px) {
    .intro-container {
        height: 100%;
    }
}

.apply-button {
    padding: 10px 20px;
    color: white;
    background-color: rgb(226, 40, 11);
    font-size: 30px;
    border-radius: 10px;
    text-decoration: none;
    margin-top: auto;
    /* place it at bottom of container */
}

.boxes {
    margin: auto;
    /* center it */
    width: 80vw;
    display: flex;
    flex-direction: column;
}

.info-box:first-child {
    margin-top: 50px;
}

.info-box {
    flex-basis: 300px;
    margin-bottom: 300px;
    display: flex;
    flex-direction: column;
}

/*.info-box:last-child{
            margin-bottom:0px;
        }*/
.info-box-heading {
    background-color: rgb(226, 40, 11);
    padding: 15px;
    color: white;
    align-self: start;
    min-width: 100px;
}

.info-box-content {
    background-color: white;
    flex-grow: 1;
    padding: 30px;
}

/* all this stuff was copy pasted from https://css-tricks.com/hash-tag-links-padding/ */
/* Makes the hash tag links work with a fixed position header */
.hash-link:before {
    display: block;
    content: " ";
    margin-top: -50px;
    height: 50px;
    visibility: hidden;
    pointer-events: none;
}

.section {
    padding: 40px;
}

.section:nth-of-type(even) {
    background-color: rgb(6, 16, 54);
    color: white;
}

.section h2 {
    margin: 0px 0px 20px 0px;
}

.centered-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-section {
}

.about-cols{
    max-width: 800px;
    display: flex;
    flex-direction: row;
    margin: auto;
}

.about-section .col1 {
    flex-basis: 50%;
    padding-right: 20px;
}

.about-section .col2 {
    flex-basis: 25%;
    padding-right: 20px;
}

.about-section .col3 {
    flex-basis: 25%;
}

.about-section h3 {
    font-size: 1.125em;
    /*text-transform: uppercase;*/
}

.schedule-section {
}

.schedule-section hr {
    /* counteract buttstrap BS */
    background-color: white;
}

.schedule-section > hr{
    /* flexbox breaks this hr... because of course it does; it's CSS */
    /* https://stackoverflow.com/a/34365325 */
    width: 100%;
    margin-top: 5px;
}

.schedule-section h2{
    margin: auto;
    align-self:center;
}

.schedule-boxes{
    align-self:center;
    column-width: 350px;
    column-count: 2;
    column-gap: 40px;
}

.schedule-box{
    max-width: 350px;
    margin: auto;
    /* https://stackoverflow.com/a/33506807 */
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
}

.schedule-list {
    list-style: none;
}

.time-header {
    margin-bottom: 20px;
}

.time-header h3 {
    margin: 0px;
}

.time-slot {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
}

.time-slot time {
    width: 200px;
}

.schedule-event{
    max-width: 150px;
}

/* add space at bottom between next schedule box */
.time-slot:last-child{
    margin-bottom: 40px;
}


/* schedule adjustments for mobile layout */
@media (max-width:768px){
    .schedule-boxes{
        column-width: 250px;
    }
    .schedule-box{
        max-width: 250px;
    }
    .time-header{
        border-bottom-style: solid;
        border-bottom-color: white;
        border-bottom-width: 1px;
        padding-bottom: 5px;
    }
    .time-header h3{
        text-align: center;
    }
    .time-slot{
        display: flex;
        flex-direction: column;
        margin-bottom:20px;
    }
    .time-slot time{
        width: initial;
        font-weight: bold;
    }
    .schedule-event{
        font-size: 20px;
        color: lightgray;
        max-width: 250px;
    }

}




.sponsors-section {}

.sponsors-list {
    max-width: 720px;
    text-align: center;
}

.sponsors-list li {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-width: 1px;
    border-style: solid;
    border-color: gray;
    height: 160px;
     /* space between adds 5px to sides already:
     https://css-tricks.com/fighting-the-space-between-inline-block-elements/
     */
    margin-bottom: 5px;
}

.sponsors-list img {
    width: 230px;
}

.faq-section {}


.faq-list{
    max-width: 650px;
}
.question-answer {
    margin-bottom: 15px;
}

.question {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 1.2em;
}

.answer {
    font-size: 1em;
    color: lightgray;
}

.question:before {
    content: "Q: ";
}

.answer:before {
    content: "A: ";
}

.contact-section {}

/* the max-width:100% at the top for all p isn't enough, must override
to get it to max-out at 650px */
.contact-section > p {
    text-align: center;
    width: 100%;
    max-width: 650px;
}


/* Mobile media queries. At end of document so it overrides any other rules
https://stackoverflow.com/questions/10262082/css-media-queries-and-important
*/
/* max-device-width is not recommended:
https://stackoverflow.com/questions/18500836/should-i-use-max-device-width-or-max-width
*/
@media (max-width:768px){
    figure{
        margin-left:0px;
        margin-right:0px;
        /* Floating doesn't work well on small screens */
        float:none !important;
    }

    .boxes{
        /* No margins on side of page */
        width:100%;

        /* But a bit of padding */
        padding-left: 15px;
        padding-right: 15px;
    }

    header{
        /* No margins on side of page */
        padding:0px;
    }

    #intro{
        padding-top: 100px;
    }
    .section{
        padding: 20px;
    }
    .about-cols{
        flex-direction: column;
    }
}
