* {
    box-sizing: border-box;
}

ul, ol{
    padding: 0px;
    margin: 0px;
    list-style: none;
}

img{
    /* Prevent image from being too big on mobile */
    max-width:100%;
}

body{
    width:100%;
    min-height:100vh;
    padding:0px;
    margin:0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;  
}

header{
    /* padding is used instead of width so background color expands to side of page */
    padding-left:10%;
    padding-right:10%;

    padding-top:5px;
    padding-bottom:5px;

    display:flex;
    align-items:center;
    background-color:rgb(6, 12, 34);
    position:fixed;
    width:100%;
    height: 50px;
}
    .logo{
        /*max-width:100%;
        height: 100%;*/
        height:50px; /* fuck it */
    }
    #nav-bar {
        width: 100%;
        flex-grow:1;
    }
        #nav-bar ul{
            display:flex;
            flex-wrap: wrap;
            justify-content:center;
            padding:6px;
            list-style-type: none;
        }
            #nav-bar li{
                flex-grow:1;

                /*background-color:#eeeeee;*/
                border-color:#e5e5e5;

                border-width: 2px;
                border-radius: 6px;



                margin-left: 5px;
                margin-top: 5px;
                margin-bottom: 5px;
                text-align: center;
            }
                #nav-bar li a{
                    font-size: 18px;
                    /*padding:10px;*/
                    display:block;
                    text-decoration: none;
                    color: gray;
                }
                #nav-bar li a:hover{
                    color: white;
                    text-decoration: underline;
                }

main{
    background-color: #ffffff;
}

    #intro{
        /*background-color: lightblue;*/
        background-color: white;
        background-size:cover;
        min-height:100vh;
        display: flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        color: black;
    }
        .intro-container{
            flex-grow: 0;
            text-align:center;
            background-color:rgba(255,255,255,0.8); /* done this way to prevent opacity applying to children */
            height:400px;
            width:600px;
            padding:20px;
            border-width:2px;
            border-style:inset;
            border-radius:10px;
            display:flex;
            flex-direction:column;
            align-items: center;
            justify-content: flex-start;
        }
        @media (max-width:650px){
            .intro-container{
                width:95%;
            }
        }
        @media (max-height:500px){
            .intro-container{
                height:100%;
            }
        }
            .apply-button{
                padding: 10px 20px;
                color:white;
                background-color: rgb(226, 40, 11);
                font-size:30px;
                border-radius:10px;
                text-decoration:none;
                margin-top:auto;  /* place it at bottom of container */
            }


    .boxes{
        margin:auto;    /* center it */
        width:80vw;

        display:flex;
        flex-direction:column;
        
    }

        .info-box:first-child{
            margin-top:50px;
        }
        .info-box{

            flex-basis: 300px;
            margin-bottom:300px;
            
            display:flex;

            flex-direction:column;
        }

        /*.info-box:last-child{
            margin-bottom:0px;
        }*/

            .info-box-heading{
                background-color: rgb(226, 40, 11);
                padding: 15px;
                color: white;
                align-self: start;
                min-width:100px;
            }
            .info-box-content{
                background-color:white;
                flex-grow:1;
                padding:30px;
            }

/* all this stuff was copy pasted from https://css-tricks.com/hash-tag-links-padding/ */
/* Makes the hash tag links work with a fixed position header */
.hash-link:before { 
  display: block; 
  content: " "; 
  margin-top: -50px; 
  height: 50px; 
  visibility: hidden; 
  pointer-events: none;
}

.section{
    padding: 40px;
}

.section:nth-of-type(even){
    background-color: rgb(6,16,54);
    color:white;
}

.section h2{
    margin: 0px 0px 20px 0px;
}

.about-section{
    display: flex;
    flex-direction: row;
}
    .about-section .col1{
        flex-basis: 50%;
        padding-right: 20px;
    }
    .about-section .col2{
        flex-basis: 25%;
        padding-right: 20px;
    }
    .about-section .col3{
        flex-basis: 25%;
    }
    .about-sectiont h3{
        font-size: 18px;
        text-transform: uppercase;
    }

.schedule-section{
}
    .schedule-list{
        list-style: none;
    }
        .time-header{
            margin-top: 20px
        }
            .time-header h3{
                margin: 0px;
            }
        .time-slot{
            display: flex;
            flex-direction: row;
            margin-bottom: 5px;
        }
            .time-slot time{
                width: 250px;
            }
.sponsors-section{
}
    .sponsors-list{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
        .sponsors-list img{
            width: 230px;
            height: 160px;
        }


.faq-section{
}
    .question-answer{
        margin-bottom: 15px;
    }
        .question{
            font-weight: bold;
            margin-bottom: 5px;
        }
        .answer{
            font-size: 20px;
            color: lightgray;
        }
        .question:before{
            content: "Q: ";
        }
        .answer:before{
            content: "A: ";
        }
.contact-section{
}


/* Mobile media queries. At end of document so it overrides any other rules
https://stackoverflow.com/questions/10262082/css-media-queries-and-important
*/
/* max-device-width is not recommended:
https://stackoverflow.com/questions/18500836/should-i-use-max-device-width-or-max-width
*/
@media (max-width:43em){
    figure{
        margin-left:0px;
        margin-right:0px;
        /* Floating doesn't work well on small screens */
        float:none !important;
    }

    .boxes{
        /* No margins on side of page */
        width:100%;

        /* But a bit of padding */
        padding-left: 15px;
        padding-right: 15px;
    }

    header{
        /* No margins on side of page */
        padding:0px;

        /* Put navbar below image */
        flex-direction: column;
        height: 100px;
    }
        .logo{
            height: 20px;
        }
    #intro{
        padding-top: 100px;
    }
    /* that fixed position header bullshit needs to be adjusted if header size increases to 100px */
    .hash-link:before { 
      margin-top: -100px; 
      height: 100px;
    }
    .section{
        padding: 20px;
    }
    .about-section{
        flex-direction: column;
    }
    .time-slot{
        display: flex;
        flex-direction: column;
        margin-bottom:20px;
    }
        .time-slot time{
            width: initial;
            font-weight: bold;
        }
        .schedule-event{
            font-size: 20px;
            color: lightgray;
        }
}