<!DOCTYPE html>
<html>
    <head>
        <title>
            Hack the 805
        </title>

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/apply.css') }}"/>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    </head>
    <body>
        <header>

        </header>


        <main>
            <form class="questions">
                <div class="question">
                    <label>First name</label>
                    <input type="text" class="entry">
                </div>
                <div class="question">
                    <label>Last name</label>
                    <input type="text" class="entry">
                </div>
                <div class="question">
                    <label>Email</label>
                    <input type="email" class="entry">
                </div>
                <div class="question">
                    <label>Enter your age</label>
                    <input type="number" class="entry" min="18" max="150">
                </div>
                <div class="question">
                    <label>School</label>
                    <select class="entry" required>
                        <option value="">--Please choose a school--</option>
                        <option value="moorpark-college">Moorpark College</option>
                        <option value="ucla">UCLA</option>
                        <option value="usc">USC</option>
                        <option value="long-beach">CSU Long beach</option>
                        <option value="santa-cruz">UC Santa Cruz</option>
                        <option value="caltech">Caltech</option>
                    </select>
                </div>
                <div class="question">
                    <label>What is your t-shirt size?</label>
                    <select class="entry" required>
                        <option value="">--Please choose a size--</option>
                        <option value="small">Small</option>
                        <option value="medium">Medium</option>
                        <option value="large">Large</option>
                        <option value="xl">XL</option>
                        <option value="xxl">XXL</option>
                    </select>
                </div>
                <div class="question">
                    <label>Upload your resume</label>
                    <input type="file" class="entry">
                </div>
                <div class="question">
                    <label>What is your t-shirt size?</label>
                    <input type="text" class="entry">
                </div>
                <div class="question">
                    <label>What is your t-shirt size?</label>
                    <input type="text" class="entry">
                </div>
                <div class="submit">
                    <input type="submit" value="Submit">
                </div>
            </form>

        </main>
    </body>
</html>
