{% extends "base.html" %}
{% block main %}

<!---->
<table style="width: 100%" cellpadding="25" cellspacing="0" class="month">       

<tr><th colspan="7" class="month">January</th></tr>
<tr><th class="mon">Monday</th><th class="tue">Tuesday</th><th class="wed">Wednesday</th><th class="thu">Thursday</th><th class="fri">Friday</th><th class="sat">Saturday</th><th class="sun">Sunday</th></tr>
<tr>
    <td class="noday"></td>
    <td class="noday"></td>
    <td class="wed">1<br/><span style="font-size: 15px;">Wednesday meeting 2-7 pm LMC-121</span></td>
    <td class="thu">2</td>
    <td class="fri">3</td>
    <td class="sat">4</td>
    <td class="sun">5</td></tr>
<tr><td class="mon">6<br/><span style="font-size: 15px;">Monday meeting 2-7 pm LMC-121</span></td>
    <td class="tue">7</td>
    <td class="wed">8 <br/><span style="font-size: 15px;">Wednesday meeting 2-7 pm LMC-121</span></td>
    <td class="thu">9</td>
    <td class="fri">10</td>
    <td class="sat">11</td>
    <td class="sun">12</td></tr>
<tr><td class="mon">13<br/><span style="font-size: 15px;">Monday meeting 2-7 pm LMC-121</span></td>
    <td class="tue">14</td>
    <td class="wed">15<br/><span style="font-size: 15px;">Wednesday meeting 2-7 pm LMC-121</span></td>
    <td class="thu">16</td>
    <td class="fri">17</td>
    <td class="sat">18</td>
    <td class="sun">19</td></tr>
<tr><td class="mon">20<br/><span style="font-size: 15px;">Monday meeting 2-7 pm LMC-121</span></td>
    <td class="tue">21</td>
    <td class="wed">22<br/><span style="font-size: 15px;">Wednesday meeting 2-7 pm LMC-121</span></td>
    <td class="thu">23</td>
    <td class="fri">24</td>
    <td class="sat">25</td>
    <td class="sun">26</td></tr>
<tr><td class="mon">27<br/><span style="font-size: 15px;">Monday meeting 2-7 pm LMC-121</span></td>
    <td class="tue">28</td>
    <td class="wed">29<br/><span style="font-size: 15px;">Wednesday meeting 2-7 pm LMC-121</span></td>
    <td class="thu">30</td>
    <td class="fri">31</td>
    <td class="noday"></td>
    <td class="noday"></td>
</table> 
<!--
    <table style="width: 100%" cellpadding="25" cellspacing="0" class="month">       

<tr><th colspan="7" class="month">February</th></tr>
<tr><th class="mon">Monday</th><th class="tue">Tuesday</th><th class="wed">Wednesday</th><th class="thu">Thursday</th><th class="fri">Friday</th><th class="sat">Saturday</th><th class="sun">Sunday</th></tr>
<tr>
    <td class="noday"></td>
    <td class="noday"></td>
    <td class="noday"></td>
    <td class="noday"></td>
    <td class="noday"></td>    
    <td class="sat">1</td>
    <td class="sun">2</td></tr>
<tr><td class="mon">3<br/><span style="font-size: 15px;">Monday meeting 2-7 pm LMC-121</span></td>
    <td class="tue">4</td>
    <td class="wed">5<br/><span style="font-size: 15px;">Wednesday meeting 2-7 pm LMC-121</span></td>
    <td class="thu">6</td>
    <td class="fri">7</td>
    <td class="sat">8</td>
    <td class="sun">9</td></tr>
<tr><td class="mon">10<br/><span style="font-size: 15px;">Monday meeting 2-7 pm LMC-121</span></td>
    <td class="tue">11</td>
    <td class="wed">12<br/><span style="font-size: 15px;">Wednesday meeting 2-7 pm LMC-121</span></td>
    <td class="thu">13</td>
    <td class="fri">14</td>
    <td class="sat">15</td>
    <td class="sun">16</td></tr>
<tr><td class="mon">17<br/><span style="font-size: 15px;">Monday meeting 2-7 pm LMC-121</span></td>
    <td class="tue">18</td>
    <td class="wed">19<br/><span style="font-size: 15px;">Wednesday meeting 2-7 pm LMC-121</span></td>
    <td class="thu">20</td>
    <td class="fri">21</td>
    <td class="sat">22<br/> <span style="font-</td>
    <td class="sun">23</td></tr>
<tr><td class="mon">24<br/><span style="font-size: 15px;">Monday meeting 2-7 pm LMC-121</span></td>
    <td class="tue">25</td>
    <td class="wed">26<br/><span style="font-size: 15px;">Wednesday meeting 2-7 pm LMC-121</span></td>
    <td class="thu">27</td>
    <td class="fri">28</td>
    <td class="sat">29</td>
    <td class="noday"></td></tr>
</table> 

-->
                   
                    <p class="cr"> &copy;2019 Enthusiastic Programmers </p>
{% endblock %}