{% extends "base.html" %}
{% block main %}


<table style="width: 100%" cellpadding="25" cellspacing="0" class="month">
          <!--APRIL -->                      
<tr><th colspan="7" class="month">October</th></tr>
<tr><th class="mon">Monday</th><th class="tue">Tuesday</th><th class="wed">Wednesday</th><th class="thu">Thursday</th><th class="fri">Friday</th><th class="sat">Saturday</th><th class="sun">Sunday</th></tr>
<tr>
    <td class="noday"></td>
    <td class="tue">1 <br/> <span style="font-size: 16px;">Tuesday meeting 2-7 pm LMC-121 </span></td>
    <td class="wed">2</td>
    <td class="thu">3<br/> <span style="font-size: 16px;">Thursday meeting 3:30-7 pm LMC-121 </span></td>
    <td class="fri">4</td>
    <td class="sat">5</td>
    <td class="sun">6</td></tr>
<tr><td class="mon">7 <br/></td>
    <td class="tue">8 <br/> <span style="font-size: 16px;">Tuesday meeting 2-7 pm LMC-121 </span></td>
    <td class="wed">9</td>
    <td class="thu">10<br/> <span style="font-size: 16px;">Thursday meeting 3:30-7 pm LMC-121 </span></td>
    <td class="fri">11</td>
    <td class="sat">12</td>
    <td class="sun">13</td></tr>
<tr><td class="mon">14 <br/></td>
    <td class="tue">15 <br/> <span style="font-size: 16px;">Tuesday meeting 2-7 pm LMC-121 </span></td>
    <td class="wed">16</td>
    <td class="thu">17<br/> <span style="font-size: 16px;">Thursday meeting 3:30-7 pm LMC-121 </span></td>
    <td class="fri">18</td>
    <td class="sat">19</td>
    <td class="sun">20</td></tr>
<tr><td class="mon">21 <br/></td>
    <td class="tue">22 <br/> <span style="font-size: 16px;">Tuesday meeting 2-7 pm LMC-121 </span></td>
    <td class="wed">23</td>
    <td class="thu">24<br/> <span style="font-size: 16px;">Thursday meeting 3:30-7 pm LMC-121 </span></td>
    <td class="fri">25</td>
    <td class="sat">26</td>
    <td class="sun">27</td></tr>
<tr><td class="mon">28 <br/></td>
    <td class="tue">29<br/> <span style="font-size: 16px;">Tuesday meeting 2-7 pm LMC-121 </span></td>
    <td class="wed">30</td>
    <td class="thu">31<br/> <span style="font-size: 16px;">Thursday meeting 3:30-7 pm LMC-121 </span></td>
    <td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td></tr>
</table> 

                    <!--  MAY
                        
<tr><th colspan="7" class="month">May</th></tr>
<tr><th class="mon">Monday</th><th class="tue">Tuesday</th><th class="wed">Wednesday</th><th class="thu">Thursday</th><th class="fri">Friday</th><th class="sat">Saturday</th><th class="sun">Sunday</th></tr>
<tr><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td>
    <td class="wed">1<br/> <span style="font-size: 16px;">Wednesday meeting 3-6pm LMC-121 </span></td>
    <td class="thu">2<br/> <span style="font-size: 16px;">Thursday meeting 3-6pm LMC-121 </span></td>
    <td class="fri">3</td>
    <td class="sat">4</td>
    <td class="sun">5</td></tr>
<tr><td class="mon">6<br/> <span style="font-size: 16px;">Monday meeting 3-6pm LMC-121 </span></td>
    <td class="tue">7</td>
    <td class="wed">8</td>
    <td class="thu">9</td>
    <td class="fri">10</td>
    <td class="sat">11</td>
    <td class="sun">12</td></tr>
<tr><td class="mon">13</td>
    <td class="tue">14</td>
    <td class="wed">15</td>
    <td class="thu">16</td>
    <td class="fri">17</td>
    <td class="sat">18</td>
    <td class="sun">19</td></tr>
<tr><td class="mon">20</td>
    <td class="tue">21</td>
    <td class="wed">22</td>
    <td class="thu">23</td>
    <td class="fri">24</td>
    <td class="sat">25</td>
    <td class="sun">26</td></tr>
<tr><td class="mon">27</td>
    <td class="tue">28</td>
    <td class="wed">29</td>
    <td class="thu">30</td>
    <td class="fri">31</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td></tr>
</table>
                    --> 
                    <p class="cr"> &copy;2019 Enthusiastic Programmers </p>










{% endblock %}