{% extends "base.html" %}
{% block main %}

<!--
    <table style="width: 100%" cellpadding="25" cellspacing="0" class="month">       

<tr><th colspan="7" class="month">March </th></tr>
<tr><th class="mon">Monday</th><th class="tue">Tuesday</th><th class="wed">Wednesday</th><th class="thu">Thursday</th><th class="fri">Friday</th><th class="sat">Saturday</th><th class="sun">Sunday</th></tr>
<tr> 
    <td class="noday"></td>
    <td class="noday"></td>
    <td class="noday"></td>
    <td class="noday"></td>
    <td class="noday"></td>
    <td class="noday"></td>    
    <td class="sun">1</td></tr>
<tr><td class="mon">2<br/><span class="cal">Monday meeting 2-7 pm LMC-121</span></td>
    <td class="tue">3</td>
    <td class="wed">4<br/><span class="cal">Wednesday meeting 2-7 pm LMC-121</span></td>
    <td class="thu">5</td>
    <td class="fri">6</td>
    <td class="sat">7</td>
    <td class="sun">8</td></tr>
<tr><td class="mon">9<br/><span class="cal">Monday meeting 2-7 pm LMC-121</span></td>
    <td class="tue">10</td>
    <td class="wed">11<br/><span class="cal">Wednesday meeting 2-7 pm LMC-121</span></td>
    <td class="thu">12</td>
    <td class="fri">13</td>
    <td class="sat">14</td>
    <td class="sun">15</td></tr>
<tr><td class="mon">16<br/><span class="cal">Monday meeting 2-7 pm LMC-121</span></td>
    <td class="tue">17</td>
    <td class="wed">18<br/><span class="cal">Wednesday meeting 2-7 pm LMC-121</span></td>
    <td class="thu">19</td>
    <td class="fri">20</td>
    <td class="sat">21<br/></td> 
    <td class="sun">22</td></tr>
<tr><td class="mon">23<br/><span class="cal">Monday meeting 2-7 pm LMC-121</span></td>
    <td class="tue">24</td>
    <td class="wed">25<br/><span class="cal">Wednesday meeting 2-7 pm LMC-121</span></td>
    <td class="thu">26</td>
    <td class="fri">27</td>
    <td class="sat">28</td>
    <td class="sun">29</td></tr>
<tr><td class="mon">30<br/><span class="cal">Monday meeting 2-7 pm LMC-121</span></td>
    <td class="tue">31</td>
    <td class="noday"></td>
    <td class="noday"></td>
    <td class="noday"></td>
    <td class="noday"></td>
    <td class="noday"></td></tr>
</table> 
-->

 <table style="width: 100%" cellpadding="25" cellspacing="0" class="month">       

<tr><th colspan="7" class="month">April</th></tr>
<tr><th class="mon">Monday</th><th class="tue">Tuesday</th><th class="wed">Wednesday</th><th class="thu">Thursday</th><th class="fri">Friday</th><th class="sat">Saturday</th><th class="sun">Sunday</th></tr>
<tr>
    <td class="noday"></td>
    <td class="noday"></td>  
    <td class="wed">1</br><span class="cal"> Happy April! </span></td>
    <td class="thu">2</td>
    <td class="fri">3</td>
    <td class="sat">4</br><span class="cal"> Spring Break! </span></td>
    <td class="sun">5</br><span class="cal"> Spring Break! </span></td></tr>
<tr><td class="mon">6</br><span class="cal"> Spring Break! </span></td>
    <td class="tue">7</br><span class="cal"> Spring Break! </span></td>
    <td class="thu">9</br><span class="cal"> Spring Break! </span></td>
    <td class="wed">8</br><span class="cal"> Spring Break! </span></td>
    <td class="fri">10</br><span class="cal"> Spring Break! </span></td>
    <td class="sat">11</br><span class="cal"> Spring Break! </span></td>
    <td class="sun">12</br><span class="cal"> Spring Break! </span></td></tr>
<tr><td class="mon">13</td>
    <td class="tue">14</td>
    <td class="wed">15</td>
    <td class="thu">16</td>
    <td class="fri">17</td>
    <td class="sat">18<br/></td> 
    <td class="sun">19</td></tr>
<tr><td class="mon">20</td>
    <td class="tue">21</td>
    <td class="wed">22</td>
    <td class="thu">23</td>
    <td class="fri">24</td>
    <td class="sat">25</td>
    <td class="sun">26</td></tr>
<tr><td class="mon">27</td>
    <td class="tue">28</td>
    <td class="wed">29</td>
    <td class="thu">30</td>
    <td class="noday"></td>
    <td class="noday"></td>
    <td class="noday"></td></tr>
</table> 
                   
                    <p class="cr"> &copy;2020 Enthusiastic Programmers </p>
{% endblock %}