<!DOCTYPE html>
<html>
    <head>
        <title>Ethansiastic Programmers Anonymous</title>
        <link rel="stylesheet" type="text/css" href="./stylesheets/ep-base.css"/>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    </head>
    <body>
        <header>
            <a href="{{url_for('index')}}"><img src="./images/enthusiastic-logo.png" style="width:320px;"/></a>
            <nav id="nav-bar">
                <ul>
                    <li><a href="{{url_for('index')}}">Home</a></li>
                    <li class="current-page"><a>FAQ</a></li>
                    <li><a href="{{url_for('about')}}">About Ethan</a></li>
                    <li><a href="{{url_for('contact')}}">Contact Info</a></li>
                    <li><a href="{{url_for('join')}}">Join Club</a></li>
                </ul>
            </nav>
        </header>

        <main>
            <h4>This is a page of frequently asked questions; hopefully it answers yours.</h4>
            <div class="faq-block">
                <p class="question-text">Q: What is this website actually for?</p>
                <p class="answer-text">A: We don't really have a clue. Sorry.</p>
            </div>
        </main>
    </body>
</html>