<!DOCTYPE html>
<html>

<head>
    <title>
        Hack the 805
    </title>
    <link rel="stylesheet" href="static/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="static/stylesheets/hackathon.css" />
    <link rel="stylesheet" type="text/css" href="static/stylesheets/navbar.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body>
    <div class="fixed-top corona"><span>Due to COVID-19, Hack the 805 may be virtual or delayed</span></div>
    <header class="fixed-top">
        <a href="{{ url_for('views.index') }}">
            <img src="static/images/EPFinal_dark.png" class="logo" />
        </a>

        <nav class="navbar" id="nav-menu-container">
            <ul class=" ml-auto text-uppercase nav-menu">
                <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="#intro">Home</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="#about">About</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="#schedule">Schedule</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="#sponsors">Sponsors</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="#faq">FAQ</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="#contact">Contact</a></li>
            </ul>
        </nav>
    </header>

    <main>

        <div id="intro" style="background-image: url('{{ url_for('static', filename='images/mountain.svg') }}');">
            <div class="intro-container">
                <h1>Hack the 805</h1>
                <p>Date TBD, Moorpark College</p>

                <a class="apply-button"">Apply</a>
            </div>
        </div>

        <section class="about-section section">
            <div class="about-cols">
                <div class="col1">
                    <h2 id="about" class="hash-link">About</h2>
                    <p>Moorpark College is hosting a Ventura County based hackathon for college students. For two days, students will team together and compete to push the boundaries of technology through hardware, software, and emerging disciplines such as machine learning. Hack805 wants to set the gold standard for community college hackathons.</p>
                </div>
                <div class="col2">
                    <h3>Where</h3>
                    <p>Moorpark College, Moorpark, CA</p>
                </div>
                <div class="col3">
                    <h3>When</h3>
                    <p>TBD</p>
                </div>
            </div>
        </section>

        <section class="schedule-section section centered-section">
            <div class="centered-header-container">
                <h2 id="schedule" class="hash-link">Schedule</h2>
            </div>
            <hr>
            <div class="schedule-boxes">
                <ol class="schedule-list schedule-box">                
                    <li class="time-header">
                        <h3>April 3</h3>
                        <!--<hr>--->
                    </li>
                    <li class="time-slot">
                        <time>04:00 PM</time>
                        <div class="schedule-event">Registration opens</div>
                    </li>
                    <li class="time-slot">
                        <time>06:00 PM</time>
                        <div class="schedule-event">Opening ceremony</div>
                    </li>
                    <li class="time-slot">
                        <time>07:00 PM</time>
                        <div class="schedule-event">Hacking begins</div>
                    </li>
                    <li class="time-slot">
                        <time>08:00 PM</time>
                        <div class="schedule-event">Dinner</div>
                    </li>
                    <li class="time-slot">
                        <time>09:00 PM - 10:00 PM</time>
                        <div class="schedule-event">Workshop 1</div>
                    </li>
                    <li class="time-slot">
                        <time>10:00 PM - 11:00 PM</time>
                        <div class="schedule-event">Workshop 2</div>
                    </li>
                    <li class="time-slot">
                        <time>11:00 PM - 12:00 AM</time>
                        <div class="schedule-event">Workshop 3</div>
                    </li>
                </ol>
                <ol class="schedule-list schedule-box">  
                    <li class="time-header">
                        <h3>April 4</h3>
                        <!--<hr>--->
                    </li>
                    <li class="time-slot">
                        <time>12:00 AM</time>
                        <div class="schedule-event">Midnight snack</div>
                    </li>
                    <li class="time-slot">
                        <time>2:00 AM</time>
                        <div class="schedule-event">Cup stacking</div>
                    </li>
                    <li class="time-slot">
                        <time>3:00 AM</time>
                        <div class="schedule-event">Fun event 2</div>
                    </li>
                    <li class="time-slot">
                        <time>07:00 AM</time>
                        <div class="schedule-event">Breakfast</div>
                    </li>
                    <li class="time-slot">
                        <time>08:00 AM - 09:00 AM</time>
                        <div class="schedule-event">Workshop 4</div>
                    </li>
                    <li class="time-slot">
                        <time>09:00 AM - 10:00 AM</time>
                        <div class="schedule-event">Workshop 5</div>
                    </li>
                    <li class="time-slot">
                        <time>11:00 AM - 12:00 PM</time>
                        <div class="schedule-event">Workshop 6</div>
                    </li>
                    <li class="time-slot">
                        <time>12:00 PM</time>
                        <div class="schedule-event">Lunch</div>
                    </li>
                    <li class="time-slot">
                        <time>3:00 PM</time>
                        <div class="schedule-event">Fun event 3</div>
                    </li>
                    <li class="time-slot">
                        <time>4:00 PM || 7:00 PM</time>
                        <div class="schedule-event">End hacking, dinner</div>
                    </li>
                    <li class="time-slot">
                        <time>5:00 PM || 8:00 PM</time>
                        <div class="schedule-event">Closing ceremony, winners, prizes</div>
                    </li>
                </ol>
            </div>
        </section>
        <section class="sponsors-section section centered-section">
            <div class="centered-header-container">
                <h2 id="sponsors" class="hash-link">Sponsors</h2>
            </div>
            <ul class="sponsors-list">
                <li><img src="{{ url_for('static', filename='images/sponsors/1.png') }}"></li>
                <li><img src="{{ url_for('static', filename='images/sponsors/2.png') }}"></li>
            </ul>
        </section>

        <section class="faq-section section centered-section">
            <div class="centered-header-container">
                <h2 id="faq" class="hash-link">FAQ</h2>
            </div>
            <ul class="faq-list">
                <li class="question-answer">
                    <div class="question">What is a hackathon?</div>
                    <div class="answer">A hackathon is a competition where teams compete to build either software or hardware projects. At the end of the competition, the projects will be demonstrated to judges who will award prizes to the winners based on categories such as best hardware hack, best use of a company's API, etc.</div>
                </li>
                <li class="question-answer">
                    <div class="question">Who can join?</div>
                    <div class="answer">Anyone can join so long as they are enrolled in a college.</div>
                </li>
                <li class="question-answer">
                    <div class="question">What do I bring?</div>
                    <div class="answer">Bring a laptop, a charger, a change of clothes, and toiletries.</div>
                </li>
                <li class="question-answer">
                    <div class="question">Are workshops mandatory?</div>
                    <div class="answer">No.</div>
                </li>
                <li class="question-answer">
                    <div class="question">How much coding experience do I need?</div>
                    <div class="answer">None! Hackathons are a great place to learn new skills from others or through workshops. Nevertheless, the more experience you bring, the more impressive your project will be.</div>
                </li>
            </ul>
        </section>

        <section class="contact-section section centered-section">
            <div class="centered-header-container">
                <h2 id="contact" class="hash-link">Contact</h2>
            </div>
            <p>Contact us at EnthusiasticProgrammersClub@gmail.com</p>
        </section>
    </main>

    <script src="static/jquery/jquery.min.js"></script>
    <script src="static/jquery/jquery-migrate.min.js"></script>


    <script src="static/easing/easing.min.js"></script>

    <script src="static/superfish/hoverIntent.js"></script>
    <script src="static/superfish/superfish.min.js"></script>

    <script src="static/wow/wow.min.js"></script>

    <script src="static/touchSwipe/jquery.touchSwipe.min.js"></script>

    <script src="static/js/hackathon.js"></script>
</body>

</html>